@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@600&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #0f141e;
}

.container {
    margin: auto;
    max-width: 720px;
    padding-top: 20px;
}

.info-text p {
    color: #868686;
    font-style: italic;
    font-weight: regular;
    font-size: 24px;
}

.info-text h4 {
    margin-top: 15px;
}

.card h2 {
    margin-bottom: 15px;
}

ol {
    margin-left: 20px;
}

.card  {
    /* border: 2px solid #000; */

    margin-bottom: 10px;
    border-radius: 30px;
    padding: 25px;
}

.bd-gray {
    background: #EFEEF5;
    color: #0f141e;
}

.bd-green {
    background: #BCFF5E;
    color: #0f141e;
}

.bd-purple {
    background: #6200FE;
    color: #fff;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.avatar {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 300px;
}

.info-text h4{
    margin-bottom: 10px;
}

.info-text h1{
    margin: 15px 0px 15px 0px;
}

.btn {
    background: #6100FF;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Inter';
    margin-top: 15px;
}

.btn:hover {
    background: white;
    color: black;
}

.btn:active {
    background: #e2e2e2;
}

a {
    color: #0f141e;
    text-decoration: none;
}

a:hover {
    color: #6100FF;
    text-decoration: underline;
}

a:active {
    color:#e2e2e2;
}

a:visited {
    color: #9553ff;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list li {
    padding: 3px;
}

.list li:first-child {
    font-weight: 800;
}

.table {
    width: 100%;
}

.table td {
    text-align: center;
    padding-bottom: 5px;
}

/* .table td:hover {
    background: #BCFF5E;
} */

.table td:nth-child(2){
    color: #777777;
}

.table td:nth-child(3){
    color: #777777;
}

.form h2 {
    text-align: center;
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}

.form-row .form-group {
    /* display: inline-block; */
    width: 50%;
    margin-right: 20px;
    /* width: calc(50% - 20px) */

}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label{
    display: block;
    font-size: 14px;
}

.form-group input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(41, 41, 41);
    color:#000000;
    padding: 15px 0px 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }

    .info-text h4 {
        margin-top: 15px;
    }

    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}